*.iml
.gradle
gradle.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/copyright
.idea/markdown-navigator
.idea/gradle.xml
.idea/runConfigurations.xml
.idea/compiler.xml
.idea/misc.xml
.idea/encodings.xml
.idea/modules.xml
.DS_Store
/build
/captures
.externalNativeBuild
